<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seaside Cafe</title>
    <script src="https://kit.fontawesome.com/636d17f0de.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allan:wght@700&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    {{{ body }}}

    <footer>
        <div class="socials">
            <i class="fa-brands fa-instagram fa-3x socials-icon"></i>
            <i class="fa-brands fa-facebook-f fa-3x socials-icon"></i>
            <i class="fa-brands fa-twitter fa-3x socials-icon"></i>
            <i class="fa-brands fa-whatsapp fa-3x socials-icon"></i>
        </div>
    </footer>

    <script src="/js/navbar.js"></script>
</body>

</html>