<header class="hero">
    <nav class="navbar">
        <a href="/">
            <h1>SEASIDE CAFE</h1>
        </a>
        <ul class="nav-menu">
            <li class="nav-item"><a href="/menu" class="nav-link">MENU</a></li>
            <li class="nav-item"><a href="#about" class="nav-link">ABOUT</a></li>
            <li class="nav-item"><a href="#contacts" class="nav-link">CONTACT</a></li>
            <!-- login button -->
            {{#unless logged_in}}
                <li class="nav-item"><a href="/login" class="nav-link">LOGIN</a></li>
            {{/unless}}
            {{#if logged_in}}
                <li class="nav-item"><a href="#" class="nav-link" id="log-out">LOGOUT</a></li>
            {{/if}}
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
    <div class="logo"></div>
    <div class="container">
        <!-- booking button -->
        <a href="/booking" class="book-btn">BOOK HERE</a>
        <p class="location">13 Saturn Bay Street, Melbourne, 3324</p>
        <i class="fa-solid fa-angle-down fa-5x icon-custom"></i>
    </div>

</header>
<main>
    <div class="section container">
        <div class="content" id="about">
            <h2>About</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur optio aliquid quam perspiciatis a
                magnam delectus commodi eius error beatae? Porro, consequuntur exercitationem. Recusandae esse provident
                mollitia? Dolorem, soluta incidunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
                dicta animi laboriosam ratione repudiandae iste, distinctio quibusdam molestias, ipsam beatae, quidem
                possimus. Sunt laudantium unde facilis necessitatibus voluptate maxime. In?</p>
        </div>
        <div class="content" id="contacts">
            <h2>Contacts</h2>
            <ul class="contacts">
                <li>seaside@seaside.com</li>
                <li>04232414576</li>
            </ul>
        </div>
    </div>

</main>
<script src="./js/logout.js"></script>
<script src="./js/booking.js"></script>