<div class="modal">
    <a href="/" class="close-btn">&times;</a>
    <div class="form">
        <h3>Log in</h3>
        <div class="form-el">
            <label for="email">Email:</label>
            <input type="text" id="email" placeholder="Enter email">
        </div>
        <div class="form-el">
            <label for="password">Password:</label>
            <input type="text" id="password" placeholder="Enter password">
        </div>
        <div class="form-el">
            <a href="/signup" class="signup-link">Sign up</a>
        </div>
        <div class="form-el">
            <button class="submit-btn" id="login-submit">SUBMIT</button>
        </div>
    </div>
</div>

<script src="./js/login.js"></script>