<div class="modal">
    <div class="close-btn">&times;</div>
    <div class="form">
        <h3>Log in</h3>
        <div class="form-el">
            <label for="email">Email:</label>
            <input type="text" id="email" placeholder="Enter email">
        </div>
        <div class="form-el">
            <label for="password">Password:</label>
            <input type="text" id="password" placeholder="Enter password">
        </div>
        <div class="form-el">
            <a class="signup-link">Sign up</a>
        </div>
        <div class="form-el">
            <button class="submit-btn">SUBMIT</button>
        </div>
    </div>
</div>