<header class="hero hero-header">
    <nav class="navbar">
        <a href="/">
            <h1>SEASIDE CAFE</h1>
        </a>
        <ul class="nav-menu">
            <li class="nav-item"><a href="/" class="nav-link">HOME</a></li>
            <li class="nav-item"><a href="/menu" class="nav-link">MENU</a></li>
            <li class="nav-item"><a href="/#about" class="nav-link">ABOUT</a></li>
            <li class="nav-item"><a href="/#contacts" class="nav-link">CONTACT</a></li>
            <!-- login button -->
            <li class="nav-item"><a href="/login" class="nav-link">LOGIN</a></li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>
<main>
    <div class="content-display">
        <div class="content-container card-header col-md-12 text-center">
            <h2 class="heading">&#127869 Seasonal Menu</h2>
            <ul>

                {{#each items as |item|}}
                <li>
                    
                        <div class="">
                            <div class="row">
                                <div class="item-name col-4">
                                    {{item.item}} <span class="food col-4">{{#if isVeg}}
                                &#9419;
                                {{/if}}</span>
                                </div>
                                    <span class="food col-4"></span>
                               

                                <div class="item-price col-2">
                                    ${{item.price}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="item-desc col-12">
                                    {{item.desc}}
                            </div>
                        </div>
                    


                </li>
                {{/each}}
            </ul>

            <a href="/booking" class="menu-book-btn">BOOK HERE</a>
        </div>
        
    </div>
    </div>
</main>