<div class="modal-container">
    <div class="modal">
        <a href="/" class="close-btn">&times;</a>
        <div class="form">
            <h3>Recover Password</h3>
            <div class="form-el">
                <p>Please enter the email address associated with your account and we'll send you a link to reset your password.</p>
                <label for="email">Email:</label>
                <input type="text" id="email" placeholder="Enter email">
            </div>
            <div class="form-el">
                <a href="/signup" class="signup-link">Sign up</a>
            </div>
            <div class="form-el">
                <button class="submit-btn" id="login-submit">Submit</button>
            </div>
        </div>
    </div>
</div>