<div class="modal-container">
    <div class="modal">
        <a href="/" class="close-btn">&times;</a>
        <div class="form">
            <h3>Sign up</h3>
            <div class="form-el">
                <label for="password">First Name:</label>
                <input type="text" id="first-name" placeholder="First Name">
            </div>
            <div class="form-el">
                <label for="password">Last Name:</label>
                <input type="text" id="last-name" placeholder="Last Name">
            </div>
            <div class="form-el">
                <label for="email">Email:</label>
                <input type="text" id="email" placeholder="Email">
            </div>
            <div class="form-el">
                <label for="password">Password:</label>
                <input type="password" id="password" placeholder="Password">
            </div>
            <div class="form-el">
                <label for="password">Contact Number:</label>
                <input type="text" id="contact-number" placeholder="Contact">
            </div>
            <div class="form-el">
                <a href='/login' class="signup-link">Log In</a>
            </div>
            <div class="form-el">
                <button class="submit-btn" id="signup-submit">SUBMIT</button>
            </div>
        </div>
    </div>
</div>

<script src="./js/signup.js"></script>